<!DOCTYPE html>
<html lang="zh-hans" ng-app="myApp">
  <head>
    <title>主页面</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">

  <div>主页面</div>

  </div> <!-- /container -->
  <script src="/javascripts/jquery-1.9.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/jquery.cookies.2.2.0.js"></script>
  <script src="/javascripts/json2.js"></script>
  </body>
</html>
